<style>
  figure.hiwi {
    float: left;
  }
  figure.hiwi img{
    width: 200px !important; 
    height: 200px !important;
  }
  /* so that the next sections do not float anymore */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }
</style>

<figure class="hiwi">
  <img
    class="border shadow"
    src="{{ .Get `src` }}"
  />
  <figcaption>
    <h4>{{ .Get `title` }}</h4>
  </figcaption>
</figure>
